.Box{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkviolet;
    color: white;
    border-radius: 10px;
    width:250px;
    height:150px;
    margin: 10px;
}